<ul class="message-list">
  <li *ngFor='let message of messages' class="mt-3">
    <app-message [mes]='message'></app-message>
    <ul class="comments-list">
      <li *ngFor='let comment of message.comments'>
        <app-message [mes]='comment'></app-message>
      </li>
    </ul>
    <button *ngIf="!messageId || messageId !== message.id" type="button" class="btn btn-link" (click)='onCommentClick(message)'>Комментировать</button>
    <div *ngIf="messageId && messageId === message.id">
      <app-message-form [id]='messageId'></app-message-form>
    </div>
    <hr />
  </li>
</ul>